@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes blurIn {
  from { backdrop-filter: blur(0px); background-color: rgba(0,0,0,0); }
  to { backdrop-filter: blur(12px); background-color: rgba(0,0,0,0.5); }
}

@keyframes blurOut {
  from { backdrop-filter: blur(12px); background-color: rgba(0,0,0,0.5); }
  to { backdrop-filter: blur(0px); background-color: rgba(0,0,0,0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.95); }
}

.animate-modal-content {
  animation: fadeIn 0.3s ease-out forwards;
  animation: fadeOut 0.3s ease-out forwards;
}

.animate-modal-overlay {
  animation: blurIn 0.3s ease-out forwards;
  animation: blurOut 0.3s ease-out forwards;
}


